<table border="1" cellpadding="1" cellspacing="1" style="width: 100%;">
	<tbody>
		<tr>
			<td><a href="http://www.cocha.com?email=*|EMAIL|*" title="" class="" target="_blank">
                                        <img align="left" alt="" src="https://gallery.mailchimp.com/cf8e3f784ee65fee4bea0e12f/images/0fee65c6-af13-4c82-9d48-49cded8986c2.jpg" style="max- padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
                                    </a></td>
			
		</tr>
		<tr>
			<td><p style="font-size:16px">Estimado $contact_name,Junto con saludarle, tengo el agrado de informar valor para el programa solicitado</p></td>
		
		</tr>
		<tr>
			<td><p  id="title"></p>
				<p>Valor por persona en base a:</p></td>
			
		</tr>
		<tr>
			<td><p id="tarifa" ></p>
<p id="cgeneral" ></p>
<p id="comentarios" ></p>
<p id="imagen"></p></td>
			
		</tr>
		<tr>
			<td>
				<p>Para otras alternativas s&iacute;rvase consultar documento adjunto.</p>


<p>Los espacios a&eacute;reos son limitados por lo que para confirmar una reserva requiero me informe:</p>
<p>Nombres Completo</p>

<p>Edades s&oacute;lo en caso de los menores de 12 a&ntilde;os</p>

<p>Fecha tentiva</p>

<p>N&uacute;mero de contacto</p>
<p>Sin otro particular le saluda cordialmente,</p>
</td>
			
		</tr>
	</tbody>
</table>








<hr>

<div id="nejecutiva">$user_fullname</div>
<div id="tejecutiva">$user_telefono</div>
<div id="eejecutiva">$user_email</div>

